
  <div class="profile">

      <!-- SIDEBAR USERPIC -->
      <div class="userpic">
       
      </div>
      <!-- END SIDEBAR USERPIC -->
      <!-- SIDEBAR USER TITLE -->
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          Ihor Lisnytsia
        </div>
        <div class="profile-usertitle-job">
          Developer
        </div>
      </div>
      <!-- END SIDEBAR USER TITLE -->
      <!-- SIDEBAR BUTTONS -->
      <div class="profile-userbuttons">
        <button type="button" class="btn btn-success btn-sm">Follow</button>
        <button type="button" class="btn btn-danger btn-sm">Message</button>
      </div>
      <!-- END SIDEBAR BUTTONS -->
</div>
<div class="block-menu">
    <div class="sidebar-wrapper">
        <nav class="spy">
            <ul class="sidebar-nav ">
                <li>
                  <a href="#" class="l-link">
                    <i class="fa fa-home"></i>
                    Home </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-envelope"></i>
                    Messages </a>
                </li>
                <li>
                    <a href="#">
                      <i class="fa fa-wrench"></i>
                      Settings </a>
                  </li>
                <li>
                  <a href="#">
                    <i class="fa fa-flag"></i>
                    Support</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="sidebar-wrapper">
        <nav class="spy">
            <ul class="sidebar-nav ">
                <li>
                  <a href="#" class="l-link">
                    <i class="fa fa-male"></i>
                    Friends </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-users"></i>
                    Groups </a>
                </li>
                <li>
                    <a href="#">
                      <i class="fa fa-gamepad"></i>
                      Games </a>
                  </li>
                 <li>
                  <a href="#">
                    <i class="fa fa-sign-out-alt"></i>
                    Sign out</a>
                </li>
            </ul>
        </nav>
    </div>
  </div>
